{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <div align="center">
      <img width="300" src="{% static 'portfolio/profile_image.jpeg' %}" class="img-fluid rounded">
    </div>
  </div>
</div>


<div class="container">
  <p style="color: #2d3748;">I'm <b>Kartik Nema</b> - a final year student at Indian Institute Of Information Technology, Allahabad. I was born and brought up in Jabalpur, Madhya Pradesh where I currently reside as well and have lived in Allahabad (Prayagraj) for a brief period.
    <br><br>
    I am an engineer by heart and like to play around with Tech a lot. I like to use my technical skill in order to solve real world problems, design solutions which are efficient and easily manageable. I have worked with a variety of technologies during my college years and now at my job. I strive to learn more and more and continously improve my self not only as a developer but as a person in general. 
    <br><br>
    I am currently working at Cisco  as an Engineering Intern.
  </p>
</div>
{% endblock %}
